<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/_articles.css">
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <main class="main">
        <div class="container">
            <div class="learn__wrapper">
                <div class="title_wrapper">
                    <h3>What will you learn?</h3>

                    <span class="line"></span>
                </div>
                
                <div class="wrapper__left__right">
                    <div class="learn__items">
                        <div class="learn__item">
                            <span class="circle">01</span>
                            <p class="learn__item_text">
                                Use HDFS & Map <br> Reduce for storing & <br> analyzing data at scale.
                            </p>
                        </div>
                        <div class="learn__item">
                            <span class="circle">02</span>
                            <p class="learn__item_text">
                              Consume streaming data using Spark  Streaming, Flink, and Storm.
                            </p>
                        </div>
                        <div class="learn__item">
                            <span class="circle">03</span>
                           
                            <p class="learn__item_text">
                                Choose an <br> appropriate data <br> storage technology <br> for your application
                            </p>
                        </div>
                        <div class="learn__item">
                            <span class="circle">04</span>
                            <p class="learn__item_text">
                                Analyze non- <br> relational data using <br> HBase, Cassandra, <br> and MongoDB.
                            </p>
                        </div>
                    </div>
                    <div class="learn__img">
                        <img src="../assets/article_icons/Frame.png" alt="">
                    </div>
                </div>
                
            </div>

            <div class="articles__wrapper">
                <h3>Articles & Resources</h3>
                <span class="line"></span>
                <div class="people__wrapper">
                    <div class="people__item">
                        <img src="../assets/article_icons/IMAGE (5).png" alt="article__info">
                        <h6 class="people__title">Significant reading has more info number</h6>
                        <p class="article__info">Override the digital divide with additional clickthroughs from DevOps for real-time schemas.</p>
                        <p class="date">October 6, 2021</p>
                    </div>
                    <div class="people__item">
                        <img src="../assets/article_icons/IMAGE (6).png" alt="article__info">
                        <h6 class="people__title">Many variations of pass majority have suffered</h6>
                        <p class="article__info">Capitalize on low-hanging fruit to  identify a ballpark value-added activity to beta test.</p>
                        <p class="date">October 6, 2021</p>
                    </div>
                    <div class="people__item">
                        <img src="../assets/article_icons/IMAGE (7).png" alt="article__info">
                        <h6 class="people__title">Words which don’t look even slightly believable</h6>
                        <p class="article__info">Podcasting operational change management inside of workflows to establish a framework.</p>
                        <p class="date">October 6, 2021</p>
                    </div>
                </div>
                
            </div>
        </div>
    </main>
</body>
</html>