<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/_author.css">
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
    
    <div class="container">
        <div class="book_wrapper">
            <div class="title__wrapper">
                <h3>The Author's Book</h3>
                <span class="line"></span>
            </div>
            
            <div class="books">
                <div class="books__items">
                    <div class="book_img">
                        <img src="../assets/author_icons/atomic.png" alt="Atomic one's">
                    </div>
                    <div class="book_text">
                        <h6>Atomic One’s</h6>
                        <p class="price">$ 13.84 USD</p>
                        <p class="about__book">As the book contains <br> theoretical content as well as <br>solved questions.</p>
                        <div class="mode">
                        <section></section>
                        <p class="book__mode">Printed Book</p>
                        </div>
                    </div>
                </div>
                <div class="books__items">
                    <div class="book_img">
                        <img src="../assets/author_icons/the dark light.png" alt="The dark light">
                    </div>
                    <div class="book_text">
                        <h6>The Dark Light</h6>
                        <p class="price">$ 86.11 USD</p>
                        <p class="about__book">As the book contains <br>theoretical content as well as <br> solved questions.</p>
                        <div class="mode">
                        <section></section>
                        <p class="book__mode">Printed Book</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="author__wrapper">
            <div class="author_img">
                <img src="../assets/author_icons/Opa.png" alt="Author">
            </div>
            <div class="author_text">
                <h3 class="about__title">About The Autor</h3>
                <span class="line__left"></span>
                <p class="about__author">We believe that bookstores are essential to a healthy culture. <br> They’re where authors can connect with
                    readers, where we <br> discover new writers, where children get hooked on the thrill <br> of reading that can last
                    a lifetime.</p>
                <div class="numbers">
                    <div class="numbers__items">
                        <p class="number">02</p>
                        <p class="number__description">Books Published</p>
                    </div>
                    <div class="numbers__items">
                        <p class="number">4.5</p>
                        <p class="number__description">User Reviews</p>
                    </div>
                    <div class="numbers__items">
                        <p class="number">04</p>
                        <p class="number__description">Best Seller Awards</p>
                    </div>
                </div>
                <div class="qr__wrapper">
                    <div class="qr">
                        <img src="../assets/author_icons/QR.png" alt="qr">
                    </div>
                    <div class="author__id">
                        <p class="name">John Abraham , Ph.d</p>
                        <p class="contact">johnabraham@gmail.com <br>Phone: (+2) 123 545 9000</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>