<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/_companies.css">
     <link rel="stylesheet" href="../styles/main.css"> 
</head>
<body>
    <main class="main">
        <div class="container">
            <div class="companies__wrapper">
                <div class="title__wrapper">
                    <h3>Trusted By The Best</h3>
                    <span class="line"></span>
                </div>
                <div class="companies">
                    <div class="company">
                        <img src="../assets/companies_icons/Amazen Corp.png" alt="Amazen Corp.">
                        <h6>Amazen Corp.</h6>
                        <p class="company__item">They has been helping readers, <br>music lovers, and videophiles <br> find quality material.</p>
                    </div>
                    <div class="company">
                        <img src="../assets/companies_icons/Megan books.png" alt="Megan Books">
                        <h6>Megan Books</h6>
                        <p class="company__item">We help physical bookstores <br> manage their overstock to <br> the book inventory.</p>
                    </div>
                    <div class="company">
                        <img src="../assets/companies_icons/me gan k.png" alt="Megank">
                        <h6>Megank</h6>
                        <p class="company__item">Bookstore serving up the full <br>spectrum of Black literature <br> and wine black books.</p>
                    </div>
                    <div class="company">
                        <img src="../assets/companies_icons/Stempel.png" alt="Urban Store">
                        <h6>Urban Store</h6>
                        <p class="company__item">We also carry the latest records, <br> issues of all of your favorite <br>comic books.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="get__book__wrapper">
            <div class="left__wrapper">
                <h3 class="get__book">Get Book Copy Today!</h3>                
                <span class="line__left"></span>
                <p class="get__book__text">We believe that bookstores are essential to a healthy <br> culture. They’re where authors can connect with readers.</p>
            </div>
            <div class="right__wrapper">
                <img src="../assets/companies_icons/Buch + Rose.png" alt="book">
            </div>
        </div>
       
    </main>
    
</body>
</html>