<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/_footer.css">
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <footer class="footer">
        <div class="container">
    <div class="wrapper">
        <div class="social_wrapper">
            <div class="pages">
                <img src="../assets/footer_icons/pages.png" alt="Pages">
            </div>
            <div class="links">
                <a href=""><img src="../assets/footer_icons/facebook.png" alt=""></a>
                <a href=""><img src="../assets/footer_icons/twitter.png" alt=""></a>
                <a href=""><img src="../assets/footer_icons/linkedin.png" alt=""></a>
                <a href=""><img src="../assets/footer_icons/instagram.png" alt=""></a>
            </div>
        </div>
        <div class="explore_wrapper">
            <h6>Explore</h6>
            <ul class="explore">
                <li>Home</li>
                <li>About</li>
                <li>Articles</li>
                <li>Our Store</li>
                <li>Contact Us</li>
            </ul>
        </div>
        <div class="utility_pages_wrapper">
            <h6>Utility Pages</h6>
            <ul class="utility__pages">
                <li>Style Guide</li>
                <li>404 Not Found</li>
                <li>Password Protected</li>
                <li>Licenses</li>
                <li>Changelog</li>
            </ul>
        </div>
        <div class="keepintouch_wrapper">
            <h6>Keep in Touch</h6>
                <div class="keepintouch__item address">
                    <span> Address:</span>
                    <p>24A Kingston St, Los Vegas <br>NC 28202, USA. </p>
                </div>
            
                <div class="keepintouch__item mail">
                    <span>Mail:</span>
                    <p>support@pages.com</p>
                </div>
                <div class="keepintouch__item phone">
                <span>Phone:</span>
                <p>(+22) 123 - 4567 - 900</p>
                </div>
        </div>
    </div>
    </div>
    </footer>
</body>
</html>