<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/_home.css">
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <main class="main">
        <div class="container">
            <div class="wrapper">
                <div class="left__wrapper">
                    <div class="text__wrapper">
                        
                        
                        <p class="welcome"><span class="center__line"></span>Welcome to Pages!!!</p>
                        <h2>Your Books From <br>The Best Writer.</h2> 
                        <p>      
                            We believe that reading books are essential to a healthy culture. <br>They’re where authors can connect with readers.
                        </p>
                    </div>
                    <div class="action">
                        <button> Order Today</button>
                        <a href="#">Read Free Demo</a>
                    </div>
                   
                    <ul class="values">
                        <li class="number">
                            <!-- <span></span> -->
                            <!-- <div class="number__text__wrapper"> -->
                            <h4>Pages</h4>
                            <p>250 pages</p>
                            <!-- </div> -->
                        </li>
                        <li class="number">
                            <!-- <span></span> -->
                            <!-- <div class="number__text__wrapper"> -->

                            <h4>Length</h4>
                            <p>10 hours</p>
                        <!-- </div> -->
                        </li>
                        <li class="number">
                            <!-- <span></span> -->
                            <!-- <div class="number__text__wrapper"> -->

                            <h4>Rating</h4>
                            <p>4.5/5 (305 ratings)</p>
                        <!-- </div> -->
                        </li>
                    </ul>
                    
                </div>
                <div class="right__wrapper">
                    <img src="../assets/home_icons/IMAGE.png" alt="the dark light image"> 
                </div>
            </div>  
        
        </div>
    </main>
</body>
</html>